html, body {
	width: 100%; height: 100%;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	color: white;
	z-index: -1;
}

::selection {
	background: #fd558f;
}
::-moz-selection {
	background: #fd558f;
}

a {
	color: #fd558f;
	text-decoration: none;
	font-weight: 500;

	-webkit-transition: color 0.3s cubic-bezier(.25, .8, .25, 1);
	transition: color 0.3s cubic-bezier(.25, .8, .25, 1);
	-moz-transition: color 0.3s cubic-bezier(.25, .8, .25, 1);
	-ms-transition: color 0.3s cubic-bezier(.25, .8, .25, 1);
}

a:hover {
	color: #ff72a3;
}

#bgWrap {
	width: 100%; height: 100%;
	position: absolute;
	top: 0; left: 0;
	background-color: #121212; 
	z-index: 0;
}

#bgWrap div {
	width: 100%; height: 100%;
	position: absolute;
	top: 0; left: 0;
	background-color: white;
}

#bgWrap div:nth-child(101) {
	clip-path: polygon(70% 0, 100% 0, 100% 100%, 20% 100%);
	background-color: #e6e6df;
	z-index: -1;
}

#mainWrap {
	width: 100%; height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

#name {
	padding: 1%;
	grid-column: 1;
	margin: auto;
	z-index: 3;
}

#name h1 {
	font-size: 300%;
	font-weight: 300;
	margin: 0;

}

#name h5 {
	color: #b3b3b3;
	font-size: 100%;
	font-weight: 400;
	margin: 0;
	text-align: right;
}

#tabs {
	list-style: none;
	margin: auto 0 auto 10%;
	grid-column: 2;
	height: 50%;
	width: 60%;
	color: black;
	z-index: 1;


	display: grid;
	grid-template-columns: 1fr 29fr;
	grid-template-rows: repeat(9, 1fr);
	grid-column-gap: 10%;
}

input {
	pointer-events: none;
}

#tab1, label[for='tab1'] { grid-row: 4; grid-column: 1; }
#tab2, label[for='tab2'] { grid-row: 5; grid-column: 1; }
#tab3, label[for='tab3'] { grid-row: 6; grid-column: 1; }


.tab:checked:nth-of-type(1) ~ .content:nth-of-type(1),
.tab:checked:nth-of-type(2) ~ .content:nth-of-type(2),
.tab:checked:nth-of-type(3) ~ .content:nth-of-type(3) {
	opacity: 1;
	position: relative;
	-webkit-transition: 0.3s opacity ease-in, 0.3s -webkit-transform ease;
  	transition: 0.3s opacity ease-in, 0.3s -webkit-transform ease;
	transition: 0.3s opacity ease-in, 0.3s transform ease;
	transition: 0.3s opacity ease-in, 0.3s transform ease, 0.3s -webkit-transform ease;
	grid-column: 2;
	font-size: 200%;
}

.tab + label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	border: 1px solid black;
	border-radius: 3px;
	height: 0;
    padding-top: calc(100% - 1px);
    cursor: pointer;

	-webkit-transition: background-color 0.15s ease-out;
	transition: background-color 0.15s ease-out;
	-moz-transition: background-color 0.15s ease-out;
	-ms-transition: background-color 0.15s ease-out;
}

label:hover {
	background-color: #ff72a3;
}

.tab:checked:nth-of-type(1) ~ label:nth-of-type(1),
.tab:checked:nth-of-type(2) ~ label:nth-of-type(2),
.tab:checked:nth-of-type(3) ~ label:nth-of-type(3) {
	background-color: #fd558f;
}

.content {
	opacity: 0;
	position: absolute;
	top: 0; left: 0;
	grid-row: 2 / 10;
	padding: 10%;
	
}

input[type='radio'] {
	opacity: 0;
	cursor: pointer;
}

.content h2 {
	font-weight: 300;
	font-size: 100%;
	margin: 0;
}

.content h2 u {
	text-decoration: none;
	border-bottom: 1px solid black;
}

.content p {
	margin-left: 2%;
	text-align: justify;
	font-weight: 400;
	font-size: 50%;
	color: black;
}

@media only screen and (max-width: 600px) {

	#bgWrap div {
		display: none;
	}

	#bgWrap div:nth-child(101) {
		display: block;
		clip-path: polygon(0 25%, 100% 25%, 100% 100%, 0 100%);
		background-color: #e6e6df;
		z-index: -1;
	}

	#mainWrap {
		width: 100%; height: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 3fr;
	}

	#bgWrap {
		width: 100%; height: 100%;
		position: absolute;
		top: 0; left: 0;
		background-color: #121212; 
		z-index: -1;
	}

	#name {
		grid-row: 1;
		grid-column: 1;
	}

	#tabs {
		height: 80%; width: 80%;
		grid-row: 2;
		grid-column: 1;
	}

	.content {
		grid-row: 1 / 10;
	}
}